*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}

.h1{
    display: flex;
}
.image{
    background-image: url(dsu.jpg);
    height: 730px;
    width: 1150px;
    background-size: cover;
    background-position: center;
}

.h3{
    width: 335px;
    height: 700px;
}
.login-form {
    padding: 40px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 250px;
    margin-bottom: 20px;
}

.login-form h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
}

.role-selection {
    margin-bottom: 20px;
    text-align: center;
}

.role-selection input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.show-password input[type="checkbox"] {
    margin-right: 5px;
}

button {
    /* width: 100%; */
    padding: 10px;
    border: none;
    background-color: #44B6AE
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    
    
}

button:hover {
    background-color: #45a049;
}

button.forgot-password {
    background-color: #f44336;
}

button.forgot-password:hover {
    background-color: #e53935;
}

p {
    text-align: center;
    color: #666;
}
.role-selection{
    display: flex;
}
.h4{
    
    text-align: center;
    justify-content: space-evenly;
    padding-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.h5{
    text-align: left;
}
.h6{
    text-align: left;
}
.h8{
    display: flex;
}
.forgot-password{
    margin-left: 15px;
    height: 33px;
    width: 134px;
}
.login{
    height: 33px;
    width: 61px;
    
}
.h10{
    margin-left: 15px;
    margin-bottom: 3px;
}
.h11{
    margin-bottom: 3px;
}
.h12{
    margin: 0;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 11.9px;
    margin-top: 20px;
    color: #333;
}
